# Trabajo Final

- Base de datos
1. Microdatos del [INEI](http://iinei.inei.gob.pe/microdatos/). 
módulo 4 (Salud) y módulo 34 (Sumarias) del año 2020.

## Importar las bases de datos

In [1]:
import pandas as pd
enaho04 = pd.read_csv("Enaho01a-2020-400.csv",encoding = "latin-1")
enaho04.columns= enaho04.columns.str.lower()

ModuleNotFoundError: No module named 'pandas'

In [2]:
sumaria = pd.read_csv("Sumaria-2020.csv",encoding = "latin-1")
sumaria.columns = sumaria.columns.str.lower()
sumaria

,año,mes,conglome,vivienda,hogar,ubigeo,dominio,estrato,mieperho,totmieho,...,linea,pobreza,tipocuestionario,tipoentrevista,factor07,nconglome,sub_conglome,lineav_rpl,lineav,pobrezav
0,2020,1,5009,12,11,10101,4,4,2,2,...,303.520996,3,0,1,149.202744,7076,0,657,560.468506,4
1,2020,1,5009,41,11,10101,4,4,2,2,...,303.520996,3,0,1,149.202744,7076,0,657,553.731506,4
2,2020,1,5009,98,11,10101,4,4,6,6,...,303.520996,3,0,1,149.202744,7076,0,657,547.194031,3
3,2020,1,5015,7,11,10101,4,4,4,4,...,303.520996,3,0,1,70.492592,7089,0,657,556.025330,4
4,2020,1,5015,19,11,10101,4,4,4,4,...,303.520996,3,0,1,70.492592,7089,0,657,548.526917,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34485,2020,12,20305,31,11,250301,7,4,1,1,...,335.352234,3,2,1,275.828552,15122,0,657,641.312134,4
34486,2020,12,20305,52,11,250301,7,4,1,1,...,335.352234,3,2,1,275.828552,15122,0,657,642.814026,4
34487,2020,12,20305,73,11,250301,7,4,1,1,...,335.352234,3,2,1,275.828552,15122,0,657,641.782898,4
34488,2020,12,20305,116,11,250301,7,4,4,4,...,335.352234,3,2,1,275.828552,15122,0,657,643.160034,3
34489,2020,12,20305,137,11,250301,7,4,4,4,...,335.352234,3,2,1,275.828552,15122,0,657,639.233521,3

## Dimensiones

In [6]:
enaho04.shape      # (120346, 1052)
sumaria.shape      # (34490, 179)

(34490, 179)

In [ ]:
##

Las variables de la ENAHO que necesitamos 
- Quedémonos con las variables ``` CONGLOME VIVIENDA HOGAR POBREZA UBIGEO``` de la sumaria. 
- Quedémonos con las variables ``` CONGLOME VIVIENDA P4026 UBIGEO ``` del módulo de salud.

 
Cada una de las variables son:

- POBREZA: Pobreza monetaria según la línea de pobreza.
- P4026: Si se presenta un síntoma de covid
- UBIGEO: Código de 6 dígitos que indica el distrito de pertenencia de la persona. 

CONGLOME, VIVIENDA y HOGAR son los identificadores únicos a nivel de hogar (como un key id).

In [7]:
sumaria = sumaria[['conglome','vivienda','hogar','pobreza','ubigeo']]
enaho04 = enaho04[['conglome','vivienda','hogar','p4026']]

## Modificar la variable pobreza

La variable de `pobreza`, en la sumaria, está codificada como integers 1, 2 y 3. Esto corresponde a:  
`1`: hogar pobre extremo  
`2`: hogar pobre no extremo  
`3`: hogar no  pobre

In [9]:
sumaria["pobreza3"] = sumaria.pobreza.replace({1:"pobre extremo",2:"pobre no extremo",3:'no pobre'})
sumaria

<ipython-input-9-f84975c17c76>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sumaria["pobreza3"] = sumaria.pobreza.replace({1:"pobre extremo",2:"pobre no extremo",3:'no pobre'})

       conglome  vivienda  hogar  pobreza  ubigeo  pobreza3          pobreza2
0          5009        12     11        3   10101  no pobre  pobre no extremo
1          5009        41     11        3   10101  no pobre  pobre no extremo
2          5009        98     11        3   10101  no pobre  pobre no extremo
3          5015         7     11        3   10101  no pobre  pobre no extremo
4          5015        19     11        3   10101  no pobre  pobre no extremo
...         ...       ...    ...      ...     ...       ...               ...
34485     20305        31     11        3  250301  no pobre  pobre no extremo
34486     20305        52     11        3  250301  no pobre  pobre no extremo
34487     20305        73     11        3  250301  no pobre  pobre no extremo
34488     20305       116     11        3  250301  no pobre  pobre no extremo
34489     20305       137     11        3  250301  no pobre  pobre no extremo

[34490 rows x 7 columns]

## EXPLORACIÓM DE LA VARIABLE P4026, QUE MUESTRA SI UNA persona tuvo sintomas de covid

In [ ]:
# 1 : sintomas de covid
# 0: no tiene sintomas

In [11]:
enaho04.p4026.value_counts()

0    61970
0    28708
     27424
1     1544
1      700
Name: p4026, dtype: int64

In [16]:
enaho04["p4026"] = enaho04.p4026.replace({1:"posible contagiado",0:"no contagiado"})
enaho04

        conglome  vivienda  hogar          p4026
0           5009        12     11
1           5009        12     11
2           5009        41     11
3           5009        41     11
4           5009        98     11
...          ...       ...    ...            ...
120341     20305       116     11  no contagiado
120342     20305       137     11  no contagiado
120343     20305       137     11  no contagiado
120344     20305       137     11  no contagiado
120345     20305       137     11  no contagiado

[120346 rows x 4 columns]

# MERGE DE LAS 2 BASES

In [18]:
merge = pd.merge(sumaria, enaho04, on=['conglome','vivienda','hogar'], how='inner')
merge

,conglome,vivienda,hogar,pobreza,ubigeo,pobreza3,pobreza2,p4026
0,5009,12,11,3,10101,no pobre,pobre no extremo,
1,5009,12,11,3,10101,no pobre,pobre no extremo,
2,5009,41,11,3,10101,no pobre,pobre no extremo,
3,5009,41,11,3,10101,no pobre,pobre no extremo,
4,5009,98,11,3,10101,no pobre,pobre no extremo,
...,...,...,...,...,...,...,...,...
120341,20305,116,11,3,250301,no pobre,pobre no extremo,no contagiado
120342,20305,137,11,3,250301,no pobre,pobre no extremo,no contagiado
120343,20305,137,11,3,250301,no pobre,pobre no extremo,no contagiado
120344,20305,137,11,3,250301,no pobre,pobre no extremo,no contagiado
120345,20305,137,11,3,250301,no pobre,pobre no extremo,no contagiado

In [58]:
a2 = sumaria.groupby(["pobreza3"]).agg({'inghog2d':'mean'})
a2

                      inghog2d
pobreza3
no pobre          32014.094308
pobre extremo      9980.110857
pobre no extremo  15565.160905

8. ¡Ahora uniremos los datos!  
Pero antes un check de sanidad: Verifica que el número  de filas de ambas bases de datos son las mismas (acuérdate que filtramos las observaciones por `result`).  La ENAHO recolecta información de estos 34,490 hogares a través de todos sus módulos. Para utilizar estos módulos a la vez, realizaremos una "unión" (merge).   

Une ambas bases con un _inner merge_. Recuerda que el id que identifica a cada hogar se compone de ` conglome vivienda hogar`.

In [59]:
merge = pd.merge(sumaria, vivienda, on=['conglome','vivienda','hogar'], how='inner')
merge

,conglome,vivienda,hogar,mieperho,percepho,pobreza,gashog2d,inghog2d,ubigeo,dependientes,diferencia,pobreza3,pobreza2,result,nbi1,nbi2,nbi3,nbi4,nbi5
0,5009,12,11,2,2,3,25065.796875,37274.425781,10101,0,12208.628906,no pobre,pobre no extremo,1,0,0,0,0,0
1,5009,41,11,2,2,3,28650.019531,41967.570312,10101,0,13317.550781,no pobre,pobre no extremo,1,0,0,0,0,0
2,5009,98,11,6,4,3,38136.218750,42292.535156,10101,2,4156.316406,no pobre,pobre no extremo,1,0,0,0,0,0
3,5015,7,11,4,3,3,26812.154297,37866.210938,10101,1,11054.056641,no pobre,pobre no extremo,1,0,0,0,0,0
4,5015,19,11,4,3,3,63311.539062,91681.960938,10101,1,28370.421875,no pobre,pobre no extremo,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34485,20305,31,11,1,1,3,12997.472656,14227.951172,250301,0,1230.478516,no pobre,pobre no extremo,1,0,0,0,0,0
34486,20305,52,11,1,1,3,10690.595703,11442.000000,250301,0,751.404297,no pobre,pobre no extremo,1,0,0,0,0,0
34487,20305,73,11,1,1,3,11576.803711,12847.000000,250301,0,1270.196289,no pobre,pobre no extremo,1,1,0,0,0,0
34488,20305,116,11,4,1,3,23779.029297,21009.353516,250301,3,-2769.675781,no pobre,pobre no extremo,1,0,0,0,0,0
34489,20305,137,11,4,2,3,16872.869141,19822.650391,250301,2,2949.781250,no pobre,pobre no extremo,1,0,0,0,0,0

## CREACIÓN DE LA VARAIBLE DEPARTAMENTO

In [35]:
merge["ubigeo_2"] = merge["ubigeo"].astype(str)
merge["departamento"] =  merge["ubigeo_2"].apply(lambda x: x[0:2] if len(x)>5 else x[0:1])
merge["departamento"] = merge.departamento.replace({"1":"Amazonas","2": "Ancash","3": "Apurimac","4": "Arequipa", "5":"Ayacucho", 
                                                    "6":"Cajamarca", "7":"Callao","8": "Cusco","9":"Huancavelica","10":"Huanuco",
                                                    "11":"Ica","12":"Junín", "13":"La Libertad", "14":"Lambayeque","15":"Lima", 
                                                    "16":"Loreto", "17": "Madre de Dios", "18": "Moquegua", "19":"Pasco","20": "Piura", 
                                                    "21": "Puno", "22": "San Martín", "23": "Tacna", "24": "Tumbes", "25":"Ucayali"})
merge

,conglome,vivienda,hogar,pobreza,ubigeo,pobreza3,pobreza2,p4026,ubigeo_2,departamento
0,5009,12,11,3,10101,no pobre,pobre no extremo,,10101,Amazonas
1,5009,12,11,3,10101,no pobre,pobre no extremo,,10101,Amazonas
2,5009,41,11,3,10101,no pobre,pobre no extremo,,10101,Amazonas
3,5009,41,11,3,10101,no pobre,pobre no extremo,,10101,Amazonas
4,5009,98,11,3,10101,no pobre,pobre no extremo,,10101,Amazonas
...,...,...,...,...,...,...,...,...,...,...
120341,20305,116,11,3,250301,no pobre,pobre no extremo,no contagiado,250301,Ucayali
120342,20305,137,11,3,250301,no pobre,pobre no extremo,no contagiado,250301,Ucayali
120343,20305,137,11,3,250301,no pobre,pobre no extremo,no contagiado,250301,Ucayali
120344,20305,137,11,3,250301,no pobre,pobre no extremo,no contagiado,250301,Ucayali
120345,20305,137,11,3,250301,no pobre,pobre no extremo,no contagiado,250301,Ucayali

# HAY QUE HACER ESTO POR DEPARTAMENTO Y NIVEL DE PROBREZA EN EL COUNT IRIA LA VARIABLE SI LA PERSONA TIENE COVID

In [60]:
a2 = merge.groupby(["departamento","pobreza3"]).agg({'p4026':['count','median']})
a2

                           inghog2d                    gashog2d
                               mean        median          mean        median
pobreza3         nbi1
no pobre         0     32760.041129  23489.980469  27007.277047  22380.583984
                 1     19440.486354  16117.046875  18074.743293  15901.835938
pobre extremo    0      9906.536155   8602.481445   7992.623172   7514.380859
                 1     10618.739268   9501.479980   8556.479213   7883.616455
pobre no extremo 0     15626.399573  11971.979492  13406.471448  12256.365234
                 1     15045.327072  12720.994141  13271.803297  12754.585938

UsageError: Cell magic `%%shell` not found.